html {
    height: 100%;
}

body {
	margin: auto;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: url(images/fadedLion.png) no-repeat fixed;
	background-position: right center;
	background-size: 392px 647px;
}

a:link {
	color: #FFFFFF;
	text-decoration: none;
}

a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

div { 
	position:relative; 
	margin:0px; 
	padding:0px;
}

#leftPanel { 
	position: relative;
	display: inline-block;
	float: left;
	/*width: 275px;*/
	width: 15%;
	min-width: 220px;
	height: 100%;
	background: #e31313; /* Old browsers */
	background: -moz-linear-gradient(top, #e31313 0%, #f70c6f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e31313 0%,#f70c6f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e31313 0%,#f70c6f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e31313', endColorstr='#f70c6f',GradientType=0 ); /* IE6-9 */
	overflow-y: auto;
	overflow-x: hidden;
}

#mainContent { 
	position: relative;
	display: inline-block;
	float: left;
	width: calc(85% - 150px);
	height: 100%;
}

#fadedLion{
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	float: right;
	width: 392px;
	height: 647px;
	background: url(images/fadedLion.png) no-repeat;
	background-size: contain;
}

#pubLogo {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 197px;
	height: 45px;
	margin-top: 20%;
	margin-bottom: 2%;
	background: url(images/pubLogo2.png) no-repeat;
	background-size: contain;
}

#versionHolder{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	top: 8%;
}

#sizesHolder{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	top: 11%;
}

#vTitle{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	/*left:20%;*/
	width: inherit;
	height: auto;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Barlow', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	font-size: 20px;
	/*text-decoration: underline;*/
}

#sTitle{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	/*left:20%;*/
	width: inherit;
	height: auto;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Barlow', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	font-size: 20px;
	/*text-decoration: underline;*/
}

.vBlockHolder{
	position: relative;
	display: inline-block;
	overflow: inherit;
	margin: 0 auto;
	width: inherit;
	/*width: 15%;*/
	/*min-width: 220px;*/
	height: inherit;
	margin-top: 5%;
	text-align: center;
}

.vBlock{
	position: relative;
	display: inline-block;
	margin-right: 3%;
	width: 32px;
	height: 27px;
	background: #FFFFFF;
	-webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
}

.sBlock{
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 8%;
	width: 123px;
	height: 34px;
	background: #FFFFFF;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
}

.vBlockTxt{
	position: relative;
	display: inline-block;
	/*margin: 0 auto;*/
	/*left:20%;*/
	top: 10%;
	width: inherit;
	height: auto;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Barlow', sans-serif;
	font-weight: 300;
	color: #ff0000;
	font-size: 16px;
	text-align: center;
	/*text-decoration: underline;*/
}

.sBlockTxt{
	position: relative;
	display: inline-block;
	/*margin: 0 auto;*/
	/*left:20%;*/
	top: 21%;
	width: inherit;
	height: auto;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Barlow', sans-serif;
	font-weight: 300;
	color: #ff0000;
	font-size: 16px;
	text-align: center;
	/*text-decoration: underline;*/
}

/*#contentTitle{
	position: relative;
	display: block;
	float: left;
	top: 8%;
	left: 5%;
	width: auto;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #fa0d45;
	font-size: 18px;
	border: 1px solid #fa0d45;
}*/

#contentTitle{
	position: relative;
	display: block;
	/*overflow-wrap: break-word;*/
	/*word-wrap: break-word;*/
	/*margin: 0 auto;*/
	/*float: left;*/
	top: 5%;
	text-align: center;
	/*left:20%;*/
	/*width: inherit;*/
	height: auto;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	/*color: #ffffff;*/
	color: #fa0d45;
	font-size: 19px;
	padding: 10px;
	background: #FFFFFF;
}

/*.downloadBtn{
	position: relative;
	display: block;
    margin: 0 auto;
    bottom: 0%;
    float: left;
    width: 160px;
	height: 45px;
	left: 50%;
	line-height: 45px;
	background: #FFFFFF;
}*/

/*#downloadBtn{
	position: fixed;
	display: block;
	margin: 0 auto;
	bottom: 0;
	padding-bottom: 15px;
	font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: #ff0000;
    font-size: 16px;
    text-align: center;

}*/

/*#downloadTxt{
	position: relative;
    display: block;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: #ff0000;
    font-size: 16px;
    text-align: center;
}*/


#downloadBtn{
	position: fixed;
	display: block;
	margin: 0 auto;
	bottom: 0;
	padding-bottom: 15px;
	width: 15%;
	min-width: 220px;
	font-family: 'Barlow', sans-serif;
    font-weight: 300;
    /*color: #ff0000;*/
    font-size: 16px;
    text-align: center;

}

#downloadTxt{
	position: relative;
    display: block;
    /*margin: 0 auto;*/
    width: auto;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

iframe{
	/*width: inherit;
	height: inherit;*/
	border: none;
	position: relative;
	display: block;
	margin: 0 auto;
}

#iFrameHolder{
	position: relative;
    display: block;
    margin: 0 auto;
    /* float: right; */
    /* left: 50%; */
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
     transform: translateY(-50%); 
}




